<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="58027.NuGetSearch" Publisher="CN=DB299AFD-CD90-4B49-8407-33F11AF0C784" Version="2.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="55fb0b00-0391-4ed7-b329-95ae96b43927" PhonePublisherId="18afdfc8-59ea-41fd-bfdc-36ea49c9ac88" />
  <Properties>
    <DisplayName>NuGet Search</DisplayName>
    <PublisherDisplayName>汪宇杰</PublisherDisplayName>
    <Logo>Assets\NuGetSearch-300.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="x55fb0b00y0391y4ed7yb329y95ae96b43927x" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
      <m3:VisualElements DisplayName="NuGet Search" Square150x150Logo="Assets\NuGetSearch-300.png" Square44x44Logo="Assets\NuGetSearch-300.png" Description="Search Packages on NuGet.org" ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
      </m3:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>